
<div 
  class="drag-symbol" 
  draggable="true" 
  (dragstart)="onDragStart($event)">
  <!-- Beispiel: SVG-Icon oder Bild -->
  <img src="assets/pegman.svg" alt="Pegman" width="40" />
</div>

<mgl-map
  [style]="'https://api.maptiler.com/maps/streets/style.json?key=7ojUxxNLaB81S4UnhGS0'"
  [zoom]="[zoom]"
  [center]="center"
  (mapClick)="onMapClick($event)"
  (mapLoad)="onMapLoad($event)"
  (drop)="onMapDrop($event)"
  (dragover)="$event.preventDefault()"
>
<mgl-control mglNavigation position="top-left"></mgl-control>
  <mgl-marker
    *ngIf="userPosition"
    [lngLat]="userPosition"
    color="red"
  ></mgl-marker>

    <mgl-marker
    *ngFor="let pos of markeredPositions"
    [lngLat]="pos"
    color="blue"
  ></mgl-marker>
  



</mgl-map>